.overlay.message {
    display: none;

    z-index: 250;

    background: rgb(0 0 0 / 0.3);
    backdrop-filter: grayscale(0.5);
}

.bot-mascot {
    position: relative;
    right: -65%;
    bottom: -40%;
    height: 60%;
    pointer-events: none;
    user-select: none;
}

.bot-visible-message {

}

.bot-debug-message {
    background: #80808057;
    color: white;
    border-style: solid;
    border-color: #97979773;
    border-width: 2px;
    border-radius: 5px;
    width: 97%;
    pointer-events: none;
    user-select: none;
    white-space: pre-line;
    padding: 0.25rem;
    font-family: roboto;
    font-weight: 500;
}

.bot-message-container {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 55%;
    background: #331453;
    pointer-events: none;
    user-select: none;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    padding: 1rem;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255 255 255 / 0.6);
    color: white;
}

.thinking {
        font-size: 0.95rem;
        color: #a6a3a3;
        margin: 0.5rem 0;
    display: none;
}

.dots::after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots .75s steps(4, end) infinite;
}

@keyframes dots {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    100% {
        content: "";
    }
}