.bubble {
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 200%;
    font-weight: 800;
    font-size: 2rem;
    opacity: 35%;
}

.overlay.questions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.questionTitle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: roboto;
    color: darkgray;

    user-select: none;
    pointer-events: none;
}

.numberQuestionDiv {
    margin: 0.15rem;
}

.colorQuestionDiv {
    min-width: 2rem;
    min-height: 2rem;
    background: red;
    border-radius: 200%;
    margin: 0.15rem;

    user-select: none;
    pointer-events: none;
}

.questionButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    width: 100%;
}

.questionButtons button {
    width: 40%;
    flex: 0 0 auto;
    margin: 0.5rem;
    padding: 0.25rem 1rem;
    border-width: 5px;
    border-style: solid;
    border-color: gray;
    border-radius: 3rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.question {
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #4c4c6e4d;
    padding: 1rem;
    border-radius: 10px;
    border-width: 0.15rem;
    border-style: solid;
    border-color: violet;
    min-width: 40%;
}

.questionFakeStacktrace {

    white-space: pre;
    font-family: monospace;
    background-color: #f4f4f4;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    font-size: 0.45rem;
    width: 60%;
    color: black;
}

.answer-status {
    background: #000062b8;
    width: 40%;
    display: none;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 75%;
    justify-content: center;
    border-width: 0.15rem;
    border-style: solid;
    border-color: violet;

    user-select: none;
    pointer-events: none;
}

.answer-status .icon {
    font-size: 15rem;
    color: #005700;
    margin: 0;
    border-radius: 300%;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-color: #005700;
    border-width: 5px;

    user-select: none;
    pointer-events: none;
}

.answer-status .icon.error {
    color: #ab0303;
    border-color: #ab0303;
}

.answer-status .label {
    font-size: 3rem;
    text-transform: uppercase;

    user-select: none;
    pointer-events: none;
}